body {
	background-color: lightcyan;
	font-family: calibri;
	width: 80%;
	min-width: 960px;
	margin: 0 auto;
}
h1{
	color: brown;
	text-align: center;
	font-size: 35pt;
	font-weight: bolder;
	font-style:italic
}
ol{
	text-align: justify;
	font-size: 18pt;
}
table {
	color: black;
	text-align: justify;
	font-size: 15pt;
	font-style: normal
}
p{
	text-align: left,right;
	font-size: 18pt;
}
a {
	color: brown;
	text-align: center;
	font-size: 18pt;
	font-style: italic;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
